.container {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 240px;
    margin: 5px;
  }
  
  .video-container {
    width: 240px;
    height: 240px;
    background-color: black;
  }
  